// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.article-list {
  list-style: none;
}

.article-list-item {
  margin-bottom: 20px;
}

.article-list-item a {
  text-decoration: none;
  color: #337AB7;
}

.article-list-item a:hover {
  color: #23527C;
  text-decoration: underline;
}

.update-btn {
  margin-right: 20px;
}

.update-btn a, .delete-btn a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
}
